<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <mat-card class="card">

    <img src={{book.thumbnail}} (click)="openDialog()">

    <mat-card-content>
      <div class="title">
        <mat-form-field>
          <input matInput placeholder="Title" type="text" formControlName="title" [readonly]="readonly" required>
        </mat-form-field>
      </div>

      <div formArrayName="authors" class="author">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Authors
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let author of authors.controls; let i=index">
            <mat-form-field>
              <input matInput placeholder="Author" type="text" [formControlName]="i" [readonly]="readonly">
            </mat-form-field>
            <div class="removeAuthor" *ngIf="authors.controls.length!=1">
              <button mat-icon-button type="button" (click)="removeAuthor(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div class="addAuthor" *ngIf="i==authors.controls.length-1">
              <button mat-icon-button type="button" (click)="addAuthor()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="isbn">
        <label>
          <mat-form-field>
            <input matInput placeholder="ISBN" type="text" formControlName="isbn" [readonly]="readonly">
          </mat-form-field>
        </label>
      </div>

      <div *ngIf="!readonly">
        <label>
          <mat-checkbox class="read" formControlName="read">Read</mat-checkbox>
        </label>
      </div>
    </mat-card-content>


    <div *ngIf="!readonly">
      <mat-card-actions>
        <button mat-button class="remove" type="button" (click)="removeBook()">Remove</button>
        <button mat-button class="save" type="submit" [disabled]="!bookForm.valid">Save</button>
      </mat-card-actions>
    </div>

    <div *ngIf="readonly">
      <mat-card-actions>
        <button mat-button class="add" type="button" (click)="addBook()">Add</button>
      </mat-card-actions>
    </div>

  </mat-card>
</form>