<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

  <img src={{book.thumbnail}} (click)="addBook()">

  <label>
    Title:
    <input type="text" formControlName="title" [readonly]="readonly" required>
  </label>

  <label>
    Author:
    <input type="text" formControlName="author" [readonly]="readonly">
  </label>

  <label>
    ISBN:
    <input type="text" formControlName="isbn" [readonly]="readonly">
  </label>
  <div *ngIf="!readonly">
    <label>
      Read:
      <input class="read" formControlName="read" type="checkbox">
    </label>
    <button class="save" type="submit" [disabled]="!bookForm.valid">Save</button>
    <button class="remove" type="button" (click)="removeBook()" >Remove</button>
  </div>
  <div *ngIf="readonly">
    <button class="add" type="button" (click)="addBook()">Add</button>
  </div>
</form>