<form [formGroup]="bookForm" (ngSubmit)="onOkClick()">

  <mat-form-field>
    <input matInput placeholder="Title" type="text" formControlName="title" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Author" type="text" formControlName="author">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="ISBN" type="text" formControlName="isbn">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Image URL" type="text" formControlName="thumbnail">
  </mat-form-field>

  <button mat-button type="button" (click)="onNvmClick()">Nevermind</button>
  <button mat-button cdkFocusInitial>Ok</button>

</form>