.toolbar {
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar h3 {
    text-align: center;
}

.toolbar nav {
    text-align: center;
}

.toolbar nav a{
    padding-left: 5px;
    padding-right: 5px;
}

.toolbar nav a:visited, a:link {
    color: white;
}

.toolbar nav a:hover {
    color: black;
}
.toolbar nav a.active {
    color: white;
}
