<div class="searchbar">
    <p>Using Google Book's API, you can search for any book of your choosing!</p>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <label>
            <input type="text" formControlName="search">
            <button type="submit">Go!</button>
        </label>
    </form>
    <div *ngIf="searched">
        <ul class="searchList">
            <li *ngFor='let item of searched.items'>
                <app-book-display [book]="convertToBook(item.volumeInfo)" [readonly]=true></app-book-display>
            </li>
        </ul>
    </div>
</div>