.searchbar {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchList {
    margin-top: 10px;
    list-style-type: none;
}

.searchList li {
    margin: 10px;
    padding: 5px;
    float: left;
    list-style-type: none;
}

button {
    margin-top: 10px;
}