<!--<div class="searchbar">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <label>
            <mat-form-field>
                <input matInput placeholder="Search" type="text" formControlName="search">
            </mat-form-field>
            <button mat-button type="submit">Go!</button>
        </label>
    </form>
</div>-->
<div *ngIf="showLoader" class="loader">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="searched">
    <ul class="searchList">
        <li *ngFor='let item of searched.items'>
            <app-book-display [book]="convertToBook(item.volumeInfo)" [readonly]=true></app-book-display>
        </li>
    </ul>
</div>